.hero{
    display: flex;
    grid-template-areas: hero;
    align-items: center;
    height: var(--hero-height)
    max-height var(--hero-max-height)
}

:root{
--hero-height: 60vh;
--hero-max-height: 500px;
}


  .hero > img {
    object-fit: cover;
    height: min(var(--hero-height), var(--hero-max-height));
    width: 1000%;
    
    justify-self: end;
  }

.hero filter{
    position: absolute;
    inset: 0;
    background: #000000;
}

.site-head{
    font-display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: large;
    font-size: 600;
    text-transform: uppercase;
}


.btn {
    font-size: 2rem;
    font-weight: 100;
    border: 2px solid transparent;
    padding: 0.5rem 1.2 rem
    letter-spacing 1rem;
    color: black;
    background-color: crimson;
}

.btn:hover{
    color: crimson;
    background-color: black;
}
a.btn{
    text-decoration: none;
    font-family: fantasy;
}