.hero{
    display: flex;
    grid-template-areas: hero;
    align-items: center;
    height: var(--hero-height)
    max-height var(--hero-max-height)
}

:root{
--hero-height: 60vh;
--hero-max-height: 500px;
}


  .hero > img {
    object-fit: cover;
    height: min(var(--hero-height), var(--hero-max-height));
    width: 1000%;
    height: 400px;
    
    justify-self: end;
  }

.img {
    filter: grayscale(1);
    width: 100%;
}

.site-head{
    font-display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
    font-size: large;
    font-size: 600;
    text-transform: uppercase;
    background-color: #000000;
    height: 150px;
    width: 100%;
}
a{
    color: rgb(106, 0, 0);
    text-decoration: none;
    font-size: larger;
}
h1 {
    color: #626262;
}
h2{
    text-align: center;
}
.nav-list{
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
    

}


.btn {
    font-size: 2rem;
    font-weight: 100;
    border: 2px solid transparent;
    padding: 0.5rem 1.2 rem
    letter-spacing 1rem;
    color: black;
    background-color: crimson;
}

.btn:hover{
    color: crimson;
    background-color: black;
}
a.btn{
    text-decoration: none;
    font-family: fantasy;
}

